// Header
header{
    box-shadow: 1px 1px 10px rgba(73, 73, 73, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    .container{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rightBlock{
        display: flex;
        gap: 30px;
    }
    .leftBlock .siteLogo path,
    .leftBlock .siteLogo rect{
        fill: #000;
    }
}

// Images
.photosWrap{
    columns: 3;
    gap: 15px;
    .photoBlock{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 15px;
        cursor: pointer;
        // box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
        &:after{
            content: '';
            background-color: rgba(0,0,0,0.2); 
            position: absolute;
            inset: 0;
            z-index: 1;
            opacity: 0;
            border-radius: 10px; 
            height: calc(100% - 4px);
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            &::after{
                opacity: 1;
            }
            .hoverBlock{
                opacity: 1;              
            }
        }
        .downloadIcon{
            padding: 5px 8px;
            cursor: pointer;
            border-radius: 5px;
            border: 0;
            font-size: 20px;
            display: flex;
        }
        .hoverBlock{
            display: flex;
            justify-content: space-between;
            z-index: 2; 
            opacity: 0;
            position: absolute;
            bottom: 20px;
            padding: 0 20px;
            width: 100%;
            color: #fff;
            transition: all 0.3s ease-in-out;
            .userInfo{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 32px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
} 


// Hero Banner

.heroBanner{
    height: 670px;
    margin-bottom: 50px;
    position: relative;
    padding-top: 70px;
    &::after{
        content: '';
        background-color: rgba(0,0,0,0.4); 
        position: absolute;
        inset: 0;
        z-index: 1;
    }
    >span{
        display: initial !important;
    }
    .searchForm{
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
       width: 100%;
       max-width: 700px;
       z-index: 9;
       h1{
        color: #fff;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
       }
       input{
         padding: 10px 20px;
         height: 45px;
         width: 100%;
         outline: 0;
         border: 0;
         border-radius: 5px;
         font-size: 16px;
       }
       button{
        height: 45px;
        cursor: pointer;
        outline: 0;
        border: 0;
        position: absolute;
        right: 10px;
        background-color: transparent;
        font-size: 20px;
        color: #6c6c6c;
       }
    }
}

// Photo Modal
.photoModal {
    position: fixed;
    z-index: 9999;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
    .modalContent{
        background-color: #fefefe;
        margin: auto;
        padding: 20px 20px;
        border: 1px solid #888;
        width: 100%;
        max-width: 800px;
        border-radius: 10px;
        img{
            border-radius: 10px;
            height: 600px;
        }
        .topWrap{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .userInfo{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 32px;
                    height: 32px;
                    background-color: #e0e0e0;
                    border-radius: 50%;
                }
            }
            .topBtn{
                display: flex;
                justify-content: end;
                gap: 20px;
                button{
                    padding: 5px 8px;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 0;
                    font-size: 20px;
                    display: flex;
                    background-color: #c2c2c2;
                }
            }
        }
        
    }
}



// Search Result 

.searchResult{
    .topBar{
        padding-top: 120px;
        h1{
            text-transform: capitalize;
            margin-bottom: 15px;
            font-size: 40px;
        }
    }
}